* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
    background-color: #0F172A;
    color: #E2E8F0;
    box-sizing: border-box;
    margin: 1%;
}

.logo {
    width: 8rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > h2 {
    display: none;
}


.i-section {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.i-section > h2 {
    text-align: center;
    color: #22C55E;
    font-size: 3.3rem;
}
.i-section > .cards {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 2vh;
}

.i-section > .cards > * {
    background-color: #111827;
    border: 1px solid #1E293B;
    padding: 1% 8%;
    min-height: auto;
    line-height: 1.4;
    border-radius: 10px;
    
}

.year-form {
    margin-top: 2rem;
}
.year-form select, option{
    background-color: #111827;
    color: #E2E8F0;
    border: none;
    outline: none;
}

.card h2{
    font-size: 2rem;
}

.card .p-primary {
    font-size: 1.8rem;
}

.card small {
    font-size: 1.2rem;
}
.card h2, p, small {
    margin-bottom: 5px;
}

.footer {
  padding: 18px 0;
  text-align: center;
  color: #94a3b8;
  font-size: 14px;
  border-top: 1px solid #1e293b;
  position: absolute;
  bottom: 0;
  width: 98%;

}

.footer a {
  color: #22c55e;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.subtext {
  margin-top: 6px;
  font-size: 12px;
  color: #64748b;
}


.loading {
    position: relative;
    text-align: center;
    top: 60px;
    color: #22c55e;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  font-size: 14px;
  color: #d5d7db;
}

.details span::after {
  content: " *";
  margin-left: 6px;
  color: #64748b;
}

.details span:last-child::after {
  content: "  ";
}

.health ul {
    list-style-type: none;
    color: aliceblue;
    font-size: .9rem;
}

.health span {
    color: greenyellow;
    letter-spacing: 1.5px;
}

.health ul > li {
    font-family: monospace;
    line-height: 1.4;
}

.health h2 {
    color: #22C55E;
    font-size: 2.1rem;
    margin-bottom: 10px;
    text-transform: capitalize;
}


